# gmail username and app password - imap, telegram bot token and chat id - api
secret.yaml

# google api json credentials
credentials.json

# google api token
token.pickle

### VS Code ###
.vscode/

### OS ###
.DS_Store

### .idea ###
.idea/

### Environment ###
.env

### Node ###
# node_modules/

### Budget-nonDocker ###
Budget-nonDocker/

### Test ###
test.py



