# gmail username and app password - imap, telegram bot token and chat id - api
secret.yaml
# google api json credentials
credentials.json
# google api token
token.pickle
# ignore .DS_Store files
.DS_Store



